services:
  mysql:
    image: mysql:8.1
    ports:
      - '127.0.0.1:3306:3306'
    environment:
      - 'MYSQL_DATABASE=db'
      - 'MYSQL_PASSWORD=password'
      - 'MYSQL_ROOT_PASSWORD=password'
      - 'MYSQL_USER=user'
    restart: always
  app:
    image: "spring-htmx-demo:0.0.1-SNAPSHOT"
    ports:
      - "127.0.0.1:8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/db
      - SPRING_DATASOURCE_USERNAME=user
      - SPRING_DATASOURCE_PASSWORD=password
    depends_on:
      - mysql
  nginx:
    image: nginx
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/templates:/etc/nginx/templates
    ports:
      - '127.0.0.1:80:80'
    environment:
      - APP_SERVER_HOST_NAME=app
      - APP_SERVER_PORT=8080
      - RELIABLE_ADDRESS_SPACE=10.0.0.0/16
    depends_on:
      - app
